<div class="page" id="registryPage">
  <div class="main-div-registry">
    <div class="panel">
      <h2>Registro de usuario</h2>
      <p>Por favor rellene la información solicitada para registrarse como usuario</p>
    </div>
    <form (submit)="doRegistro(registryForm)" [formGroup]="registryForm" class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2" for="inputUsername">Usuario:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputUsername" name="username" formControlName="username"
                 placeholder="Identificador de usuario"
                 [ngClass]="{ 'is-invalid': submitted && formFields.username.errors }"/>
          <div *ngIf="submitted && formFields.username.errors" class="invalid-feedback">
            <div *ngIf="formFields.username.errors.required">Identificador de usuario es obligatorio</div>
            <div *ngIf="formFields.username.errors.usernameInUse">Identificador de usuario ya registrado</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="inputEmail">Email:</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email"
                 formControlName="email"
                 [ngClass]="{ 'is-invalid': submitted && formFields.email.errors }"/>
          <div *ngIf="submitted && formFields.email.errors" class="invalid-feedback">
            <div *ngIf="formFields.email.errors.required">Email de usuario es obligatorio</div>
            <div *ngIf="formFields.email.errors.email">Email de usuario no tiene formato correcto</div>
          </div>

        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="inputPassword">Password:</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword" name="password"
                 placeholder="Password" formControlName="password"
                 [ngClass]="{ 'is-invalid': submitted && formFields.password.errors }"/>
          <div *ngIf="submitted && formFields.password.errors" class="invalid-feedback">
            <div *ngIf="formFields.password.errors.required">Password de usuario es obligatorio</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="inputRepeatPassword">Repite Password:</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputRepeatPassword" name="repassword"
                 placeholder="Repite Password" formControlName="repassword"
                 [ngClass]="{ 'is-invalid': submitted && formFields.password.errors }"/>
          <div *ngIf="submitted && formFields.repassword.errors" class="invalid-feedback">
            <div *ngIf="formFields.repassword.errors.required">Confirmación de Password de usuario es obligatorio</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="idDatepickerFechaNacimiento">Fecha de Nacimiento:</label>
        <div class="col-sm-10">
          <!-- <input type="text" class="form-control" id="idDatepickerFechaNacimiento" name="birthdate" placeholder="dd/mm/aaaa"
            formControlName="birthdate"> -->
          <input id="idDatepickerFechaNacimiento" [owlDateTimeTrigger]="birthdate" [owlDateTime]="birthdate">
          <owl-date-time [pickerMode]="'dialog'" #birthdate></owl-date-time>
        </div>
      </div>
      <div *ngIf="showLoginAlertNuevoUsuario" class="alert alert-danger" id="alertaErrorLogin">
        <strong>Ups!</strong> El registro no ha podido realizarse.
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>

      <!-- Honeypot: Mecanismo para evitar bots -->
      <div class="form-group">
        <label for="nospam" class="escondido">¡Si ves esto, no rellenes el siguiente campo!</label>
        <input id="nospam" name="nospam" class="escondido" formControlName="nospam"/>
        <div *ngIf="submitted && formFields.nospam.errors" class="invalid-feedback">
          <div *ngIf="formFields.nospam.errors">SPAM: Eres un bot!!!</div>
        </div>
      </div>
    </form>
  </div>
</div>

