#cuerpo{background: url('../assets/imgs/red.jpg') no-repeat ; background-size: cover;
  color:white;
  border:1px solid white;
  border-radius: 10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -ms-border-radius:10px;
}
