<div class="page" id="loginPage">
  <div class="main-div-login">
    <div class="panel">
      <h2>Acceso de usuario</h2>
      <p>Por favor indica tu usuario y tu password</p>
    </div>
    <form (submit)="doLogin(loginform)" [formGroup]="loginform">
      <div class="form-group">
        <input type="text" class="form-control" name="username" formControlName="username"
               placeholder="Identificador de usuario"
               [ngClass]="{ 'is-invalid': submitted && formFields.username.errors }"/>
        <div *ngIf="submitted && formFields.username.errors" class="invalid-feedback">
          <div *ngIf="formFields.username.errors.required">Identificador de usuario es obligatorio</div>
        </div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password" formControlName="password"
               [ngClass]="{ 'is-invalid': submitted && formFields.password.errors }"/>
        <div *ngIf="submitted && formFields.password.errors" class="invalid-feedback">
          <div *ngIf="formFields.password.errors.required">Password es obligatorio</div>
        </div>
      </div>
      <div *ngIf="showLoginAlertUsuario" class="alert alert-danger" id="alertaErrorLogin">
        <strong>Ups!</strong> Usuario no registrado
      </div>
      <div *ngIf="showLoginAlertAuthentication" class="alert alert-danger" id="alertaErrorVerificacionLogin">
        <strong>Ups!</strong> Authenticación no verificada
      </div>
      <button type="submit" class="btn btn-primary" id="buttonLogin">Login</button>

      <!-- Honeypot: Mecanismo para evitar bots -->
      <div class="form-group">
        <label for="nospam" class="escondido">¡Si ves esto, no rellenes el siguiente campo!</label>
        <input id="nospam" name="nospam" class="escondido" formControlName="nospam"/>
        <div *ngIf="submitted && formFields.nospam.errors" class="invalid-feedback">
          <div *ngIf="formFields.nospam.errors">SPAM: Eres un bot!!!</div>
        </div>
      </div>
    </form>
  </div>
</div>
