<header class="navbar container-fluid">
  <nav class="container-fluid" id="menu">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://www.upm.es" target="_nueva"><img src="../../assets/imgs/upmlogo.jpg"
                                                                            id="upmlogo"
                                                                            class="bordes_redondos"> P&aacute;del
        U.P.M.</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="home">Inicio</a></li>
        <li><a routerLink="servicios">Servicios</a></li>
        <li><a routerLink="instalaciones">Instalaciones</a></li>
        <li><a *ngIf="isLoggedIn$ | async" routerLink="reservar">Reservar</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="isLoggedOut$ | async"><a routerLink="registro">Registro</a></li>
        <li *ngIf="isLoggedOut$ | async"><a routerLink="login">Login</a></li>
        <li *ngIf="isLoggedIn$ | async" dropdown id="idMenuLogout">
          <a dropdownToggle>{{isUserLoggedIn$ | async}} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li *ngIf="isLoggedIn$ | async"><a routerLink="logout">Cerrar sesión</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
